---
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import IndexLayout from '../layouts/IndexLayout.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<BaseLayout>
  <IndexLayout>
    <Header />

    <p>Hello world!</p>

    <SocialLinks />
  </IndexLayout>
</BaseLayout>
