---
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import IndexLayout from '../layouts/IndexLayout.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Section from '../components/Section.astro';
import Flex from '../components/Flex.astro';
import Item from '../components/Item.astro';

import ramp from '../assets/ramp.svg';
import tour from '../assets/tour.svg';
---

<head>
  <title>brian travis dot dev</title>
</head>

<BaseLayout>
  <IndexLayout>
    <Header />

    <SocialLinks />

    <Section title='Projects'>
      <SocialLinks />
      <SocialLinks />
      <SocialLinks />
    </Section>

    <Section title='Work'>
      <Item href='https://ramp.com' openNewTab={true}>
        <img src={ramp.src} alt='ramp' width='24' height='24' slot='avatar' />
        <p slot='title'><b>Ramp</b></p>
        <h3 slot='description'>Frontend engineering</h3>
        <h3 slot='date'>2024</h3>
      </Item>

      <Item href='https://usetour.com' openNewTab={true}>
        <img
          src={tour.src}
          alt='tour.video'
          width='24'
          height='24'
          slot='avatar'
        />
        <p slot='title'><b>Tour.video (YC S21)</b></p>
        <h3 slot='description'>Engineering, product</h3>
        <h3 slot='date'>2023</h3>
      </Item>
    </Section>

    <Section title='Writing'>
      <Flex gapRem={0.25}>
        <Item href='https://google.com'>
          <p slot='title'>Hello world</p>
          <h3 slot='date'>2025</h3>
        </Item>
        <Item href='https://google.com'>
          <p slot='title'>Hello world</p>
          <h3 slot='date'>2025</h3>
        </Item>
        <Item href='https://google.com'>
          <p slot='title'>Hello world</p>
          <h3 slot='date'>2025</h3>
        </Item>
        <Item href='https://google.com'>
          <p slot='title'>Hello world</p>
          <h3 slot='date'>2025</h3>
        </Item>
      </Flex>
    </Section>
  </IndexLayout>
</BaseLayout>
