---
import Flex from './Flex.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<Flex gapRem={1}>
  <h2>{title}</h2>
  <Flex gapRem={0.25}>
    <slot />
  </Flex>
</Flex>
