---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a class='Social_container' href={href} target='_blank'>
  <slot />
</a>

<style>
  .Social_container {
    flex-grow: 1;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 0.375rem;
    background: var(--box);
    transition: border 0.1s;

    &:hover {
      border: 2px solid var(--text-primary);
    }
  }
</style>
